
@media only screen and (max-width: 1100px) and (min-width: 600px) {
    .img-class img{
        padding-top: 35px;
    }
    
    #text-area input{
        width: 50%;
        padding: 10px 75px;
    }
}

@media only screen and (max-width: 700px) {
    .img-class img{
        padding-top: 40px;
    }

    #text-area input{
        width: 60%;
        padding: 10px 80px;
    }

    #foot2 div{
        float: none;
        text-align: center;
    }

    #foot2{
        text-align: center;
    }

    #foot2 a{
        padding: 0px 15px
    }

    #foot2 div{
        margin-top: 15px;
    }
}